.loginScreen{
  position: relative;
  height:100%;
  background: url('../public/netflix-bg.jpg') center no-repeat;
  background-size:cover;
}

.loginScreen__button{
  position:fixed;
  right:20px;
  top:20px;
  padding: 10px 20px;
  font-size:1rem;
  color:white;
  background-color: #e50914;
  border:none;
  cursor:pointer;
  outline:none;
}

.loginScreen__logo{
  position:fixed;
  left:0;
  width:150px;
  object-fit: contain;
  padding-left: 20px;
  cursor:pointer;
}

.loginScreen__gradient{
  width:100%;
  z-index:1;
  height:100vh;
  background: rgba(0,0,0,0.4);
  background-image: linear-gradient(to top, rgba(0,0,0,0.8) 0, rgba(0,0,0,0) 60%, rgba(0,0,0,0.8) 100%)
}

.loginScreen__body{
  position:absolute;
  top:30%;
  margin: 0 auto;
  text-align:center;
  z-index:1;
  color:white;
  padding:20px;
  width:100%;
}

.loginScreen__body h1{
  font-size:3.125rem;
  margin-bottom:20px;
}

.loginScreen__body h2{
  font-size:2rem;
  font-weight:400;
  margin-bottom:30px;
}

.loginScreen__body h3{
  font-size:1.3rem;
  font-weight:400;
}

.loginScreen__input{
  margin:20px;
}

.loginScreen__input form{
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginScreen__input form input{
  padding:17px 10px;
  outline:none;
  height:100%;
  width:30%;
  border:none;
  max-width:600px;
}

.loginScreen__getStarted{
  padding:16px 20px;
  font-size:1rem;
  color:white;
  background-color:#e50914;
  border:none;
  cursor:pointer;
}

@media screen and (max-width:450px){
  .loginScreen{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .loginScreen__background{
    backdrop-filter: brightness(70%);
  }

  .loginScreen__button{
    display:none;
  }
  
  .loginScreen__logo{
    position: fixed;
    left: 0;
    height: 60px;
    width: 100%;
    -webkit-object-fit: contain;
    object-fit: contain;
    cursor: pointer;
    background: #111;
    padding-left: 0px;
  }

  .loginScreen__body{
    top:auto;
    margin: 0 auto;
    text-align:center;
    z-index:1;
    color:white;
    padding:20px;
    width:100%;
  }

  .loginScreen__body h1{
    font-size:1.9rem;
    text-shadow:2px 2px 5px rgba(0,0,0,.5);
  }
  
  .loginScreen__body h2{
    font-size:1.2rem;
    text-shadow:2px 2px 5px rgba(0,0,0,.5);
  }
  
  .loginScreen__body h3{
    font-size:1rem;
    text-shadow:2px 2px 5px rgba(0,0,0,.5);
  }

  .loginScreen__input form input{
    display:none;
  }

  .loginScreen__getStarted{
    padding:12px 20px;
    font-size:.85rem;
    border-radius:5px;
    margin-top:10px;
  }
}